body {
    background-image: linear-gradient( 109.6deg,  rgba(228,107,232,1) 11.2%, rgba(87,27,226,1) 96.7% );
}


.asteriskField {
    display: none;
}


label {
    width: 50%;
}

#question-box {
    margin-top: 15%;
    margin-bottom: 6rem;
}
