{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}
    Conceptile Quiz
{% endblock title %}    

{% block body %}
  <div class="flex items-center justify-center h-screen">
  <div class="text-white">
    <div class="text-center">
        <h1 class="text-4xl font-bold mb-4 ">Welcome to the Conceptile Quiz App</h1>
        <div class="max-w-md mx-auto">
            <form method="post" action="{% url 'index' %}"">
                {% csrf_token %}
                <div>
                  <label for="num_questions" class="text-xl mb-2">Please enter the number of questions</label>
                    <input type="text" name="num_questions" placeholder="Eg- 7, 10, 18" class="form-control block w-full px-4 py-2 text-gray-700 border border-gray-300 rounded-lg shadow-sm focus:border-indigo-500 focus:ring-indigo-500">
                      {% if form.num_questions.errors %}
                        <ul class=" mt-1 text-sm">
                            {% for error in form.num_questions.errors %}
                                <li class="text-white text-lg">{{ error }}</li>
                            {% endfor %}
                        </ul>
                      {% endif %}
                </div>
                <button class="btn btn-lg btn-primary mt-10" type="submit" aria-hidden="true"> Start Quiz 🚀</button>
            </form>
        </div>
    </div>
  </div>
  </div>

{% endblock body %}